appmode==0.5.0
args==0.1.0
attrs==19.3.0
backcall==0.1.0
backports.csv==1.0.7
beautifulsoup4==4.7.1
bleach==3.1.1
certifi
chardet==3.0.4
clint==0.5.1
contextlib2==0.5.5
decorator==4.4.2
defusedxml==0.6.0
docopt==0.6.2
entrypoints==0.3
idna==2.8
importlib-metadata==1.5.0
internetarchive==1.8.4
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.16.0
Jinja2==2.11.1
json5==0.9.2
jsonpatch==1.23
jsonpointer==2.0
jsonschema==3.2.0
jupyter
jupyterlab
lxml==4.3.3
MarkupSafe==1.1.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.4
numpy==1.18.1
pandas==0.24.2
pandocfilters==1.4.2
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
prometheus-client==0.7.1
prompt-toolkit==3.0.4
ptyprocess==0.6.0
Pygments==2.6.1
pyrsistent==0.15.7
python-dateutil==2.8.1
python-slugify==3.0.2
pytz==2019.3
pyzmq==19.0.0
qtconsole==4.7.1
QtPy==1.9.0
requests==2.21.0
requests-cache==0.5.2
schema==0.7.0
Send2Trash==1.5.0
six==1.14.0
soupsieve==2.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.2
tornado==6.0.4
total-ordering==0.1.0
tqdm==4.31.1
traitlets==4.3.3
urllib3==1.24.3
wcwidth==0.1.8
webencodings==0.5.1
widgetsnbextension==3.5.1
zipp==3.1.0
